.wrapper {
    width: 100%;
    max-height: inherit;
    padding-top: 8px;
    background-color: var(--white-color-3);
    box-shadow: var(--box-shadow-popper-2);
    border-radius: 8px;
    overflow: hidden auto;
}
